@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Colors */
:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Dark-Blue);
  font-family: "Manrope", sans-serif;
  color: var(--light-cyan);
}

.container {
  width: 500px;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6rem;
}

.p {
  text-transform: uppercase;
  color: var(--neon-green);
  letter-spacing: 4px;
  font-size: 12px;
}

#data {
  font-size: 1.5rem;
  color: var(--light-cyan);
}

.circle {
  margin-bottom: -55px;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: var(--neon-green);
  cursor: pointer;
}

.circle:hover {
  box-shadow: 0 0 30px var(--neon-green);
}
.mob {
  display: none;
}

.desc {
  display: flex;
}

@media only screen and (max-device-width: 812px) {
  body {
    background-color: var(--Dark-Blue);
  }
  .main {
    height: 100vh;
    width: 100%;
  }
  .container {
    width: 95%;
  }
  .desc {
    display: none;
  }
  .mob {
    display: flex;
  }
}
